:local footer{
    position: relative;
    background-color: #f7f7f8;
    /* margin-top: 5px; */
    padding: 20px 0;
    /* top: 100%; */
    bottom: -110px;
}

:local .p-list{
    display: block;
    font-size: small;
}
:local .p-list>li{

}
:local .p-list li:hover{
    color: none;
}
:local .box-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
:local .contact-list{
    display: flex;
    flex-direction: column;
    font-weight: 0;
}
:local .contact-list>li{
    font-size: smaller;
}
