.banner{
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    transition: all 0.3s !important;
    background-attachment: fixed !important;
    background-color: black !important;
    padding: 150px 0 100px 0 !important;
    scale: 1 !important;
    color: white;
}
.banner div{
    position: relative;
}
span a{
    color: white;
    text-decoration: none;
}
.path{
    color: white;
    font-size: 16px;
}