.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  position: static;
  width: 92%; /*Set the desired width*/
  height: 42vw; /* Set the desired height */
  overflow: hidden;
  margin:3px auto;
  /* direction: ltr; */
  /* text-align: center; */
}

.carousel {
  display: flex;
  width: 100%; /* Three times the slide width */
  height: 100%;
  transition: transform 0.5s ease; /* Adjust the animation speed and ease */
  
}
img{
    width: 100%;
    height:100%;
    scale: 1;
}
.slide {
  flex: 1 0 100%; /* Make each slide take up the full width */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #f2f2f2; /* Set the background color of the slide */
}

.slide.active {
  background-color: #ccc; /* Set the background color of the active slide */
}

.navigation {
    /* display: flex;
    align-items: center;
    justify-content: center; */
  position: absolute;
  /* gap: 50px; */
  /* bottom: 0px; */
  /* top: 50%; */
  left: 50%;
  transform: translateX(-50%);
}
/* .navigation div{
  display: flex;
  justify-content: space-around;
  background-color: rebeccapurple;
} */
.prev{
  position: relative;
  left: 46vw;
}
.next{
  position: relative;
  right: 46vw;
}
.prev,
.next {
  padding: 10px;
  margin: 5px;
  background-color: transparent; /* Set the background color of the navigation buttons */
  color: #ff0000; /* Set the text color of the navigation buttons */
  border: none;
  cursor: pointer;
}


 