.carousel {
  width: min-content;
}
.carousel-item img {
  height: 420px;
  width: 420px;
}
.divider {
  margin-bottom: 15px;
  width: 100%;
  border-bottom: black 1px solid;
}
.description {
  min-width: 360px;
  text-align: justify;
  /* color: red; */
}
.banner {
  background-color: #ced4da;
}
details {
  /* text-align: justify; */
}
